[submodule "NumbaIDA"]
	path = NumbaIDA
	url = https://github.com/joeyshuttleworth/NumbaIDA
[submodule "Markov-builder"]
	path = Markov-builder
	url = git@github.com:CardiacModelling/Markov-builder
[submodule "markov_builder"]
	path = markov_builder
	url = git@github.com:CardiacModelling/Markov-builder
