[submodule "Markov-builder"]
	path = Markov-builder
	url = git@github.com:CardiacModelling/Markov-builder
[submodule "MarkovModels/quality-control"]
	path = MarkovModels/quality-control
	url = git@github.com:CardiacModelling/quality-control
[submodule "quality_control"]
	path = quality_control
	url = git@github.com:CardiacModelling/quality-control
[submodule "MarkovModels/quality_control"]
	path = MarkovModels/quality_control
	url = git@github.com:CardiacModelling/quality-control
